name: Main
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      cache-path: ${{ steps.cache.outputs.path }}
    steps:
    - uses: actions/checkout@v4

    - name: Get depot_tools
      run: |
        git clone https://chromium.googlesource.com/chromium/tools/depot_tools.git
        echo "$PWD/depot_tools" >> $GITHUB_PATH

    - name: Sync source
      run: |
        mkdir flutter-engine
        echo 'solutions = [{
            "managed": False,
            "name": "src/flutter",
            "url": "https://github.com/flutter/engine",
            "custom_deps": {},
            "deps_file": "DEPS",
            "safesync_url": "",
        }]' > flutter-engine/.gclient

        cd flutter-engine
        gclient sync --jobs 4
        cd src/flutter
        git fetch --all --tags
        git checkout 3.27.4
        cd ../../
        gclient sync --jobs 4

    - name: Upload source
      uses: actions/upload-artifact@v4
      with:
        name: src
        path: flutter-engine

  build-android-release-arm64:
    needs: prepare
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v4
      with:
        name: src

    - name: Build Android ARM64 Release
      run: |
        cd flutter-engine/src
        ./flutter/tools/gn \
          --target-os android --linux-cpu arm64 --no-goma --runtime-mode release
        ninja -C out/android_release_arm64

    - uses: actions/upload-artifact@v4
      with:
        name: android_release_arm64
        path: flutter-engine/src/out/android_release_arm64

  build-android-debug-arm64:
    needs: prepare
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v4
      with:
        name: src

    - name: Build Android ARM64 Debug
      run: |
        cd flutter-engine/src
        ./flutter/tools/gn \
          --target-os android --linux-cpu arm64 --no-goma --runtime-mode debug
        ninja -C out/android_debug_arm64

    - uses: actions/upload-artifact@v4
      with:
        name: android_debug_arm64
        path: flutter-engine/src/out/android_debug_arm64

  build-linux-release-arm64:
    needs: prepare
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v4
      with:
        name: src

    - name: Build Linux ARM64 Release
      run: |
        cd flutter-engine/src
        ./flutter/tools/gn \
          --target-os linux --linux-cpu arm64 --no-goma --runtime-mode release
        ninja -C out/linux_release_arm64

    - uses: actions/upload-artifact@v4
      with:
        name: linux_release_arm64
        path: flutter-engine/src/out/linux_release_arm64

  build-linux-debug-arm64:
    needs: prepare
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v4
      with:
        name: src

    - name: Build Linux ARM64 Debug
      run: |
        cd flutter-engine/src
        ./flutter/tools/gn \
          --target-os linux --linux-cpu arm64 --no-goma --runtime-mode debug
        ninja -C out/linux_debug_arm64

    - uses: actions/upload-artifact@v4
      with:
        name: linux_debug_arm64
        path: flutter-engine/src/out/linux_debug_arm64

  release:
    needs:
      - build-android-release-arm64
      - build-android-debug-arm64
      - build-linux-release-arm64
      - build-linux-debug-arm64
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v4
      with:
        pattern: "*"
        path: out_all

    - name: Zip
      run: |
        cd out_all
        zip -r android_release_arm64.zip android_release_arm64
        zip -r android_debug_arm64.zip android_debug_arm64
        zip -r linux_release_arm64.zip linux_release_arm64
        zip -r linux_debug_arm64.zip linux_debug_arm64

    - name: Release
      uses: ncipollo/release-action@v1
      with:
        artifacts: "out_all/*.zip"
        tag: Flutter-ARM64-3.27.4
        token: ${{ secrets.GH_TOKEN }}
        allowUpdates: true
